
body{
	background-color:black;
	font-family: cursive;
    color:white;
}
  #main{
   color:white;
   background-color: black;
   border-top: 2px solid white;
   border-bottom: 2px solid red;
   width:230px;
   position: relative;
   margin: auto;
   margin-top: 50px;

}
#main:hover{
	background-color:rgb(217, 255, 102);
}
    #img{
       float:right;
       border: 2px solid red;
   
    border-radius: 500px ;
          margin: 20px;
         
          width:20%;
    }
   #img:hover{
   	 border: 2px solid rgb(217, 255, 102);
	
}
    p{
    	color:white;
    }
    span{text-decoration: underline;

    }
    div{
    	background-color: rgb(255, 190, 65);
    	border:2px solid blue;
    	height:250px;
        width: 150px; 	    	
        color: blue;      	

    }
    .para{
    	position: absolute;
    	color:blue;
    	width:50%;
    	top: 150px;
    	left:200px;
    }
    
