body{
	background-image:url(https://i.pinimg.com/736x/a8/d8/3a/a8d83ad51cfb486d253508b013d54fb9--whatsapp-background-mac-wallpaper.jpg);
}

h{
	font-size:10px;
	font-family:cursive;
	text-align:center;
	color:white;
}
